# Express/Nest Application Port
PORT=3004

# Redis Configuration (Primary Store + Cache)
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka Configuration
KAFKA_BROKER=localhost:9092

# External Service URLs
PRODUCT_SERVICE_URL=http://product-service:3003
INVENTORY_SERVICE_URL=http://inventory-service:3006

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces

# Environment
NODE_ENV=development
