# Express/Nest Application Port
PORT=3003

# Database Configuration (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecommerce

# Kafka Configuration
KAFKA_BROKERS=localhost:29092
