# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce

# Redis Settings
REDIS_URL=redis://localhost:6379

# Kafka
KAFKA_BROKERS=localhost:9092

# OpenSearch Settings
OPENSEARCH_PASSWORD=admin_Admin_123!
OPENSEARCH_URL=https://localhost:9200
