# Express/Nest Application Port
PORT=3001

# Database Configuration (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecommerce

# Redis Configuration (Cache/Token Blacklisting)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRATION=3600
