PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3003
SEARCH_SERVICE_URL=http://localhost:3004
CART_SERVICE_URL=http://localhost:3005
ORDER_SERVICE_URL=http://localhost:3006
INVENTORY_SERVICE_URL=http://localhost:3007
PAYMENT_SERVICE_URL=http://localhost:3008
NOTIFICATION_SERVICE_URL=http://localhost:3009

JWT_SECRET=super-secret-key-change-in-prod
